<section id='dashboard-page' class="text-gray-700 body-font">
    <div class="container px-5 pt-12 pb-24 mx-auto full-page-height">
      <div class="mb-5">
        <a href="/#surveys" class="py-2 px-4 bg-gray-200 rounded-full text-gray-600 inline-block mb-2">Surveys</a>
        <span class="font-medium inline-block mb-2">→</span>
        <a href="/#surveys" id="survey_name_dashboard" class="py-2 px-4 bg-gray-200 mb-2 rounded-full text-gray-600 w-1/2 md:w-1/4 align-bottom inline-block  truncate"></a>
        <span class="font-medium inline-block mb-2">→</span>
        <span class="py-2 px-4 bg-gray-200 rounded-full text-gray-600 inline-block mb-2">Dashboard</span>
      </div>
      <div class="relative mb-10">
        <input id="autoComplete_Search" type="text" class="py-4 pr-4 pl-16 text-xl tracking-wider w-full border-gray-100 bg-gray-200 rounded-lg text-indigo-700 border focus:outline-none focus:bg-gray-300 transition-all duration-300" placeholder="Search feedback">
        <div class="absolute text-2xl mg-glass">🔎</div>
      </div>
      <div class="lg-grid-mosaic -mx-4 -my-8" id="dashboard_card_holder">
      </div>
    </div>
</section>