<section class="text-gray-700 body-font h-full flex">
    <div class="container mx-auto flex px-5 py-8 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-2 md:mb-0">
            <img class="object-cover object-center rounded ml-auto" alt="hero" src="./img/feefo_logo.png"
                style="width:420px">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Feedbacks made simple!
            </h1>
            <p class="mb-8 leading-relaxed">
                FeeFo is a easy to use and edit feedback survey form generator. Connect with your customers easily,
                using beautifully laid out forms. And create intuitive dashboards with a click of button.
            </p>
            <div class="flex justify-center">
                <button dont-show-when-logged-in onclick="singInWithGoogle()"
                    class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                    Login Now
                </button>
                <button need-login onclick="$Router.hash('surveys')"
                    class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                    Get Started Now
                </button>
            </div>
        </div>
    </div>
</section>