<section class="text-gray-700 body-font">
    <div class="container px-5 py-10 mx-auto">
        <div class="relative mb-10">
            <input id="autoComplete_Search" type="text"
                class="py-4 pr-4 pl-16 text-xl tracking-wider w-full border-gray-100 bg-gray-200 rounded-lg text-indigo-700 border focus:outline-none focus:bg-gray-300 transition-all duration-300"
                placeholder="Search survey">
            <div class="absolute text-2xl mg-glass">🔎</div>
        </div>
        <div class="flex flex-wrap -m-4" id='survey-container'>
            <div class="p-4 w-full lg:w-1/4 md:w-1/2 xl:w-1/4" id="addNewSurveyCard">
                <div class="h-full bg-gray-200 hover:bg-gray-300 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative flex cursor-pointer"
                    onclick="location.href='/#edit'">
                    <div class="title-font text-xl font-medium text-gray-900 m-auto">
                        <div
                            class="w-10 h-10 mx-auto mb-2 flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        Add New Survey
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>