<section id='thankyou-page' class="relative">
    <div class="bg-white flex full-page-height">
        <div class="m-auto tracking-wider text-gray-800 text-2xl md:text-4xl font-hairline text-center">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-5 md:w-10 h-5 md:h-10 rounded-full p-1 bg-green-600 text-white inline-block" viewBox="0 0 24 24">
            <path d="M20 6L9 17l-5-5"></path>
        </svg>
        Thank you for submitting your feedback!
        </div>
    </div>
</section>